omegaconf
torch==2.7.1 
torchvision==0.22.1
pytorch_lightning==2.5.1.post0
einops
transformers
open_clip_torch
torchmetrics
scipy
augly
scikit-image
pytorch-fid
pandas
matplotlib
timm
kornia
scipy
pathlib
typing
reedsolo
nvtx
xformers==0.0.31.post1
triton==3.3.1
lightning
torchmetrics
bitsandbytes
seaborn
opencv-python
decord